{
	"clientId": "012345678901234567",
	"guildId": "987654321098765432",
	"token": "ABcdEFGhIJK0LmNoPqR1STUv.WXYZab.2cDeF3G4H4i56jkL7MN8O8pq9RS",
	"chrome: "C:\\Program Files (x86)\\Google\\Chrome\\Application\\chrome.exe"
}
